* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

.debug {
    margin: 1px;
    width: 80%;
    margin: 0 auto;

    header {
        height: 60px;
    }

    .banner {
        background-color: blueviolet;
    }

    .block {
        border: 2px dotted black;
        background: red;
    }

    .content{
        border-color: red;
        background-color: blueviolet;
    }

    .block1{
        border: 2px dotted black;
        background: red;
    }

    .block2{
        border: 2px dotted black;
        background: red;
    }

    .block-line{
        border: 2px dotted black;
        background: red;
    }

    .block-small{
        border: 2px dotted black;
        background: red;
    }

    .block-thin{
        border: 2px dotted black;
        background: red;
    }
}

body{
    background-color: #3161e0;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
    height: 4rem;
    background-color: #3161e0;
}

.log-in {
    border-radius: 1rem;
    padding: 0.4rem;
    border-style: none;
}

.banner {
    justify-content: space-around;
    align-items: center;
    border: 2rem;
    border-color: red;
    margin-bottom: 2rem;
    padding: 30px;
}

.jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    text-align: center;
}

.block-line {
    width: 70%;
    height: 50px;
    margin-bottom: 5px;
}

.block-thin {
    width: 100px;
    height: 400px;
    margin-bottom: 5px;
}

.block {
    width: 70%;
    height: 200px;
    margin-bottom: 5px;
}

.block-small {
    width: 200px;
    height: 50px;
    margin-bottom: 5px;
}

.block1 {
    width: 150px;
    height: 200px;
}

.block2 {
    width: 300px;
    height: 200px;
}

.content {
    display: flex;
    align-items: center;
    border: 2rem;
    margin-bottom: 2rem;
    padding: 30px;
}

.txt-light{
    color: var(--ds-light-color);
    text-align: center;
}
/* common rules*/
:root{
    --ds-light-color: #ffffff;
    --ds-dark-color: #000000;

}

h1 {
    color: var(--ds-light-color);
    font-size: 35px;
}

.d-flex {
    display: flex;
}

.flex-dir-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.row-reverse {
    flex-direction: row-reverse;
}

.space-bet {
    justify-content: space-between;
}

.space-aro {
    justify-content: space-around;
}

.align-center{
    align-content: center;
}